
:root{
    --CorPreta:#000;
    --midnight-violet: rgb(0, 0, 0);
    --platinum: #eef0f2ff;
    --slate-blue: #735cddff;
    --tuscan-sun: #e7bb41ff;
    --vibrant-coral: #f56960ff;
    --tamanho0: 14pt;
}
