@charset "UTF-8";
@import "reset.css";
@import "cores.css";

@font-face {
    font-family: snoopy;
    src: url(fonts/snoopy/Snoopy.otf)
}

body {
    color: var(--platinum);
    font-family: snoopy;
    background-color: var(--midnight-violet);
    font-family:var(--tamanho0) ;
}
.tituloPrincipal{
    text-align: center;
    color: red;
}

.tituloPrincipal span:nth-child(1){
    text-align: center;
    color: blue;
}
.tituloPrincipal span:nth-child(2){
    text-align: center;
    color:chartreuse;
}
.tituloPrincipal span:nth-child(3){
    text-align: center;
    color:red;
}

.tituloPrincipal span:nth-child(4){
    text-align: center;
    color:rgb(224, 109, 43);
}

.tituloPrincipal span:nth-child(5){
    text-align: center;
    color:rgb(9, 144, 255);
}

.img-banner {
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: rgb(214, 159, 159);
}
.menu {
    text-align: center;
    margin: 20px 0;
}
.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    padding: 20px;
    border: 1px solid #000;
    background-color: rgb(231, 255, 20);
}

.menu ul li:hover {
    display: inline-block;
    padding: 20px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
}

section {
    /* background-color: aquamarine; */
}

/* section section{
           font-size: 0;
        }    */
#turmas .sala {
    display: inline-block;
    vertical-align: top;
    background-color: burlywood;
    min-height: 300px;
    width: 100%;
    min-height: 350px;
    border: 2px solid #000;
    box-sizing: border-box;
}

#turmas footer {
    background-color: rgb(129, 205, 211);
}

#turmas footer h3 {
    font-size: smaller;
}

#turmas .sala.turma_A{
    background-color: bisque;
    color: #000;
}

#turmas .sala.turma_B{
    background-color: blueviolet;
}


.listaAlunos {
    list-style: decimal-leading-zero;
    margin-left: 30px;
}
.listaAlunos li {
    padding: 5px;
}

